<div *ngIf="user">
  <div class="user-details">
    <div><span>id: </span>{{user.id}}</div>
    <div><span>Username: </span>{{user.username}}</div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      id:
      <input type="text" formControlName="id"/>
    </label>
    <label>
      Username:
      <input type="text" formControlName="username"/>
    </label>
    <label>
      Password:
      <input type="text" formControlName="password"/>
    </label>
    <label>
      First Name:
      <input type="text" formControlName="firstName"/>
    </label>
    <label>
      Last Name:
      <input type="text" formControlName="lastName"/>
    </label>
    <label>
      Email:
      <input type="text" formControlName="emailAddress"/>
    </label>
    <div formGroupName="address">
      <h3>Address</h3>
      <label>
        Street:
        <input type="text" formControlName="street"/>
      </label>
      <label>
        City:
        <input type="text" formControlName="city"/>
      </label>
      <label>
        State:
        <input type="text" formControlName="state"/>
      </label>
      <label>
        Zip:
        <input type="text" formControlName="zip"/>
      </label>
    </div>
  </form>
</div>

<button (click)="onSubmit()" type="submit">Submit</button>
<button (click)="goBack()">Return to dashboard</button>
