<div *ngIf="user">
  <div><span>id: </span>{{user.id}}</div>
  <div><span>First Name: </span>{{user.firstName}}</div>
  <div><span>Last Name: </span>{{user.lastName}}</div>
  <div>
    <label>First Name:
      <input [(ngModel)]="user.firstName" placeholder="First Name"/>
    </label>
    <br>
    <label>Last Name:
      <input [(ngModel)]="user.lastName" placeholder="Last Name"/>
    </label>
  </div>
</div>

<button (click)="save()">save</button>
<button (click)="goBack()">Return to dashboard</button>
