@import "../../assets/variables";
/* UserDetailComponent's private CSS styles */
label {
  display: block;
  width: 10em;
  margin: .5em .5em;
  color: #607D8B;
  font-weight: bold;
}
.user-details {
  font-size: 1.2em;
  margin-left: 1em;
}
form {
  padding-left: 1em;
  width: fit-content;
}
h3 {
  margin: -19px 3px 2px;
  padding-left: -1em;
  font-size: 1.75em;
  color: #607D8B;
  width: fit-content;
  background-color: transparentize($color: #ffffff, $amount: .1);
}
form > div {
  border-style: groove;
  width: 15em;
  margin-top: 2em;
}
.current {
  margin: .5em .5em 1em;
  border-style: ridge;
  border-color: gray;
  border-radius: .5em;
  width: fit-content;
  padding: .5em;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  display: block;
  margin-top: 20px;
  margin-left: 1em;
  font-family: Arial;
  background-color: rgb(190, 189, 189);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}